body {
    margin: 0 auto;
    width: 1080px;
    background-color: rgba(0, 0, 0, 0.664);
}

header {
    text-align: center;
    font-size: 42px;
    color: rgb(20, 167, 20);
    background-color: rgb(77, 6, 77);
    padding: 5px 0px 5px 0px;
}

nav {
    font-size: 22px;
}

ul {
    padding-left: 0px;
}

nav li {
    display: inline;
    padding-right: 15px;
}

header a {
    padding-right: 15px;
}

section {
    background-color: indigo;
    padding: 0px 10px 10px 10px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

h3 {
    font-size: 32px;
    text-decoration: underline;
    color: rgb(20, 167, 20);
    padding: 10px 0px 0px 0px;
}

p {
    color: yellowgreen;
    padding-bottom: 10px;
}

p a {
    font-style: italic;
    color: hotpink;
    text-decoration: none;
}

p a:hover {
    font-size: 22px;
    color: red
}

h4 {
    color: rgb(20, 167, 20);
}

section li {
    color: yellowgreen;
}

section ul {
    list-style-type: none;
}

footer {
    text-align: center;
    background-color: darkred;
    color: orange;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
}