/*

css-tricks offered solutions

html { 
    background: url("img/apollo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

body {
    margin: 20px auto;
    width: 1080px;
    /* background-color: rgba(0, 0, 0, 0.664); */
    background-image: url("../img/burFrogBay.jpg");
    background-size: cover;
    font-size: 1.2em;
    line-height: 1.5;
}

/* .image-container {
    position: relative;
} */

header {
    text-align: center;
    font-size: 4em;
    color: rgb(20, 167, 20);
    background-color: rgb(77, 6, 77);
    padding: 5px 0px 5px 0px;
    margin-bottom: 20px;
}

nav {
    font-size: 22px;
}

ul {
    padding-left: 0px;
}

nav li {
    display: inline;
    padding-right: 15px;
}

header a {
    padding-right: 15px;
}

article {
    float: left;
    width: 65%;
    margin-right: 10px;
}

article > p, h3 {
    background-color: indigo;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 32px;
    text-decoration: underline;
    color: rgb(20, 167, 20);
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
}

p {
    color: yellowgreen;
    padding-bottom: 10px;
}

p a {
    font-style: italic;
    color: hotpink;
    text-decoration: none;
}

p a:hover {
    font-size: 22px;
    color: red
}

aside {
    float: right;
    width: 30%;
    text-align: right;
    
}

h4 {
    color: rgb(20, 167, 20);
}

section {
   
}

section li {
    color: yellowgreen;
}

section ol {
    background-color: indigo;
    padding: 10px;
}

section ul {
    list-style-type: none;
    margin-top: 20px;
    background-color: indigo;
    padding: 10px;
} 

footer {
    text-align: center;
    background-color: darkred;
    color: orange;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
    position: fixed;
    left: 25%;
    bottom: 0;
    width: 50%;
}